@model List<Vjezba.Model.Attachement>

<div>
    <ul class="list-group">
        @foreach (var attachment in @Model)
        {
            <li class="list-group-item list-group-item-light">@attachment.FilePath</li>
            <a asp-action="DeleteAttachment" asp-route-attachmentId="@attachment.ID">[Edit]</a>
        }
    </ul>
</div>