@model Vjezba.Web.Models.ClientFilterModel
@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form action="@Url.Action("AdvancedSearch")" method="post" class="form-inline">
	<div class="row">
		<div class="col">
			<div class="form-group">
				<input type="text" class="form-control" name="FullName" placeholder="Pretraga po imenu">
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<input type="text" class="form-control" name="Address" placeholder="Pretraga po adresi">
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<input type="text" class="form-control" name="Email" placeholder="Pretraga po e-mailu">
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<input type="text" class="form-control" name="City" placeholder="Pretraga po gradu">
			</div>
		</div>
		<div class="col">
			<button type="submit" class="btn btn-primary m-t-10">Submit</button>
		</div>
	</div>
</form>