@using Vjezba.Model
@model Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">Novi klijent</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			@await Html.PartialAsync("_CreateOrEdit", new Client())
		</form>
	</div>
</div>

@section scripts {
<script type="text/javascript">
	$("#email").focus(function () {
		$(this).next("span").css("display", "inline");
	});

	$("#email").focusout(function () {
		$(this).next("span").css("display", "none");
	});

	$(window).bind("beforeunload", function () {
		return "All form data will be lost. Are you sure?";
	});
</script>
}