@using Vjezba.Model
@model Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">Novi klijent</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			@await Html.PartialAsync("_CreateOrEdit", new Client())
		</form>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$("#email").focus(function () {
			$(this).next("span").css("display", "inline");
		});

		$("#email").focusout(function () {
			$(this).next("span").css("display", "none");
		});

		$(window).bind("beforeunload", function () {
			return "All form data will be lost. Are you sure?";
		});
	</script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
	<link rel="stylesheet"
		href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<script>
		var address = $("#address");
		const geocoder = new MapboxGeocoder({
			accessToken: 'pk.eyJ1IjoibXphbmlub3ZpYzU1NSIsImEiOiJjbDJ3MmkxNzMwaGQ2M2pxcGxiZm83NmU0In0.izS7XWeD2MAq4Y6M-l4bKA',
			types: 'country,region,place,postcode,locality,neighborhood,address',
		});

		geocoder.addTo('#mapbox');

		$(".mapboxgl-ctrl-geocoder--input").change(function () {
			address.val($(this).val());
			console.log(address.val());
		})
	</script>
}