@model Vjezba.Model.Client

@{
	ViewData["Title"] = "Dodavanje novog klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">Novi klijent</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div class="form-group">
				<label class="control-label">Ime</label>
				<input asp-for="FirstName" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">Prezime</label>
				<input asp-for="LastName" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">Spol</label>
				<input asp-for="Gender" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">Obitavalište</label>
				<input asp-for="Address" class="form-control" />
			</div>
			<div class="form-group">
				<label class="control-label">Tel.</label>
				<input asp-for="PhoneNumber" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Spremi" class="btn btn-outline-success" />
			</div>
		</form>
	</div>
</div>