@model Vjezba.Model.Client

@{
	ViewData["Title"] = "Uređivanje klijenta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis klijenata</a></li>
		<li class="breadcrumb-item active" aria-current="page">Uređivanje klijenta</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="ID" />
			<partial name="_CreateOrEdit" />
		</form>
	</div>
	<div class="col-md-6">
		<label class="control-label">Photo</label>
		<form id="photos" asp-controller="Client" asp-action="UploadAttachment" asp-route-clientId="@Model.ID"
			enctype="multipart/form-data" class="dropzone">

		</form>
	</div>
	<div id="listAttachments">
		<h2>Lista attachment-a</h2>
		<partial name="_AttachmentList" model="new List<Attachement>()" />
	</div>
</div>

@section scripts {
<script>
	// Ako je upload datoteke 'success' -> Učitaj listu datoteka za klijenta.
	Dropzone.options.photos = {
		success: function (file, response) {
			console.log({ file, response });
			loadAttachments();
		}
	};
</script>

<script>
	// Na učitavanje html dokumenta -> Učitaj listu datoteka za klijenta.
	// Ako je učitavanje uspješno -> promijeni listAttachments div u listu sa podatcima iz kontrolera.
	$(document).ready(loadAttachments());

	function loadAttachments() {
		$.ajax({
			url: "@Url.Action("GetAttachments", new { clientId = @Model.ID })",
			method: "GET",
			success: function (html) {
				$("#listAttachments").html(html);
				console.log("Loading attachments...");
			}
		});
	}
</script>
<script>
	// Kada se klikne gumb brisanja, pozovi ovu funkciju
	// Ako je brisanje 'success' -> učitaj datoteke za klijenta.
    function deleteAttachment (attachmentId) {
        var link = "@Url.Action("DeleteAttachment", new { attachmentId = -100 })";
        link = link.replace("-100", attachmentId);
		console.log(link);
        $.ajax({
            url: link,
            method: "DELETE",
            success: function (html) {
                $("#listAttachments").html(html);
				loadAttachments();
            }
        });
    }
</script>
}