@model List<Client>

@{
	ViewData["Title"] = "Home Page";
}

<h1>Popis klijenata</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_ClientFilter" model="new ClientFilterModel()" />
</div>

<div class="row" id="tableContainer">
	<partial name="_IndexTable" model="new List<Client>()" />
</div>

@section scripts {
<script>
	$(document).ready(filterClients());

	function filterClients() {
		var formData = $("#clientForm").serialize();
		console.log("funkcija");
		$.ajax({
			url: "@Url.Action("IndexAjax", new ClientFilterModel())",
			method: "POST",
			data: formData,
			success: function (html) {
				$("#tableContainer").html(html);
			}
		});
	}
</script>
}