@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a asp-controller="Home" asp-action="FAQ">FAQ -> selected=none</a> <br/>
<a asp-controller="Home" asp-action="FAQ" asp-route-selected=4>FAQ -> selected=4</a>